{% extends 'base.html' %}
{% block form%}
<div class="container">
    <a href="/"><button class="btn btn-primary btn-lg float-right mt-3">Main</button></a><br>
    </div>
    <div class="container col-xs-5 col-md-4 mt-5">
        <div class="card">
            <div class="card-header">
                <h3>Data Taking For Predection</h3>
            </div>
            <div class="card-body">
                <form action="http://127.0.0.1:5000/form" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" placeholder="Enter Your Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label><br>
                        <input type="number" name="age" placeholder="Enter Age" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="sex">Gender</label> &nbsp;
                        <input type="radio" required name="sex" value="0"><label for="male">&nbsp;Male&nbsp;</label>
                        <input type="radio" required name="sex" value="1"><label for="female">&nbsp;Female&nbsp;</label>
                    </div>
                    <div class="form-group">
                        <label for="trp">Trp</label><br>
                        <input type="number" name="trp" placeholder="Enter Trp value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="cholesterol">Cholesterol</label><br>
                        <input type="number" name="cholesterol" placeholder="Enter Cholesterol value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="fbs">Fbs</label> &nbsp;
                        <input type="radio" name="fbs" required value="0"><label for="0">&nbsp;0&nbsp;</label>
                        <input type="radio" name="fbs" required value="1"><label for="1">&nbsp;1&nbsp;</label>
                    </div>
                    <div class="form-group">
                        <label for="ecg">Ecg</label><br>
                        <input type="number" name="Ecg" placeholder="Enter Ecg value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Thalaz">Thalaz</label><br>
                        <input type="number" name="Thalaz" placeholder="Enter Thalaz value" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Exong">Exong</label> &nbsp;
                        <input type="radio" required name="Exong" value="1"><label for="yes">&nbsp;Yes&nbsp;</label>
                        <input type="radio" required name="Exong" value="0"><label for="no">&nbsp;NO&nbsp;</label>
                    </div>

                    <div class="form-group">
                        <label for="Old Peak">Old Peak</label><br>
                        <input type="number" name="Old Peak" placeholder="Enter Old Peak value" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="slope">Slope</label> &nbsp;
                        <input type="radio" required name="slope" value="1"><label for="1">&nbsp;1&nbsp;</label>
                        <input type="radio" required name="slope" value="2"><label for="2">&nbsp;2&nbsp;</label>
                        <input type="radio" required name="slope" value="3"><label for="3">&nbsp;3&nbsp;</label>
                    </div>
                    <div class="container">
                        <button class="btn btn-success btn-lg" type="submit">Submit</button>
                        <button class="btn btn-warning btn-lg float-right" type="reset">Clear</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock%}